<!DOCTYPE html>
<html>
<head>
	<title>{{ name }}</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/addReq.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<h1>{{ name }}</h1>

<h2>Requerimientos no funcionales</h2>

<form action="/req" method="post">
	<input type="hidden" name="type_post" value="type_req">
	<input type="text" name="txt_add_req">
	<input type="submit" value="submit">
</form>

{% if req %}

	<ul>

	{% for r in req %}
		
		<a href="/req?v={{ loop.index }}"><li>{{ r }}</li></a>

	{% endfor %}

	</ul>

{% endif %}

<h2>Roles</h2>

{% if err_role %}
	
	<div class="error">{{ err_role }}</div>

{% endif %}

<form action="/req" method="post">
	<input type="hidden" name="type_post" value="type_role">
	Email: <input type="text" name="txt_user"><br />
	Rol: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="txt_role"><br />
	<input type="submit" value="Submit!">
	<br />
</form>

<table border="1">
	<tr>
		<th>User</th>
		<th>Rol</th>
		<th>Action</th>
	</tr>

	{% for role in roles %}

		<tr>
			<td>{{role.user.user_name}}</td>
			<td>{{role.role}}</td>
			<td><a href="/req?d={{ role.key() }}">Delete</a></td>
		</tr>

	{% endfor %}

</table>

</body>
</html>