<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ name }}</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/addReq.js"></script>
</head>
<body>

<h1>{{ name }}</h1>

<h2>Requerimientos no funcionales</h2>

<form action="/req" method="post">
	<input type="hidden" name="type_post" value="type_req">
	<input type="text" name="txt_add_req">
	<input type="submit" value="submit">
</form>

{% if req %}

	<ul>

	{% for r in req %}
		
		<a href="/req?v={{ loop.index }}"><li>{{ r }}</li></a>

	{% endfor %}

	</ul>

{% endif %}

<h2>Roles</h2>

{% if err_role %}
	
	<p>{{ err_role }}</p>

{% endif %}

<form action="/req" method="post">
	<input type="hidden" name="type_post" value="type_role">
	Email: <input type="text" name="txt_user"><br />
	Rol: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="txt_role"><br />
	<input type="submit" value="Submit!">
	<br />
</form>

<table border="1">
	<tr>
		<th>User</th>
		<th>Rol</th>
		<th>Action</th>
	</tr>

	{% for role in roles %}

		<tr>
			<td>{{role.user.user_name}}</td>
			<td>{{role.role}}</td>
			<td><a href="/req?d={{ role.key() }}">Delete</a></td>
		</tr>

	{% endfor %}

</table>

<hr />
<h2>Releases</h2>

<form action="/req" method="post">
	<input type="hidden" name="type_post" value="release" />
	<table>
		<tr>
			<td>Nombre:</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Descripción:</td>
			<td><input type="text" name="description" /></td>
		</tr>
		<tr>
			<td>Fecha del release: </td>
			<td><input type="date" name="release_date" /></td>
		</tr>
		<tr>
			<td>Procentaje: </td>
			<td><input type="text" name="percentage" /></td>
		</tr>
		<tr><td colspan="2"><input type="submit" value="Agregar!" /></td></tr>
	</table>
</form>

<table border="1">
	<tr>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Fecha del Release</th>
		<th>Porcentaje</th>
	</tr>
	{{releases}}
	{% for release in releases %}

		<tr>
			<td>{{release.name}}</td>
			<td>{{release.description}}</td>
			<td>{{release.release_date}}</td>
			<td>{{release.percentage}}</td>
		</tr>

	{% endfor %}

</table>

</body>
</html>	