<!DOCTYPE html>
<html>
<head>
	<title>{{ name }}</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/addReq.js"></script>
</head>
<body>

<h1>{{ name }}</h1>

<h2>Requerimientos no funcionales</h2>

<form action="/req" method="post">
	<input type="text" id="txt_add_req" name="txt_add_req">
	<input type="submit" value="submit">
</form>

{% if req %}

	<ul>

	{% for r in req %}
		
		<a href="/req?v={{ loop.index }}"><li>{{ r }}</li></a>

	{% endfor %}

	</ul>

{% endif %}

</body>
</html>