<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Project</title>
      <!-- Bootstrap core CSS -->
      <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
      <link href="assets/css/datepicker.css" rel="stylesheet">
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/smoothscroll.js"></script>
      <script src="assets/js/bootstrap-datepicker.js"></script>
   </head>
   <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
      <script type="text/javascript"></script>
      <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
         <!-- El logotipo y el icono que despliega el menú se agrupan
            para mostrarlos mejor en los dispositivos móviles -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
               data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="#portafolio" class="smoothScroll"><img  src="assets/img/menu.png" class="img-responsive" alt="Imagen responsive"></a>
         </div>
         <!-- Agrupar los enlaces de navegación, los formularios y cualquier
            otro elemento que se pueda ocultar al minimizar la barra -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav nav-pills ">
               <br>
               <li >
                  <a href="#portafolio" class="smoothScroll">
                     <strong>
                        <h4>Summary</h4>
                     </strong>
                  </a>
               </li>
               <li >
                  <a href="#requirements_section" class="smoothScroll">
                     <strong>
                        <h4>Requirements</h4>
                     </strong>
                  </a>
               </li>
               <li >
                  <a href="#roles_section" class="smoothScroll">
                     <strong>
                        <h4>Roles</h4>
                     </strong>
                  </a>
               </li>
               <li >
                  <a href="#standards_section" class="smoothScroll">
                     <strong>
                        <h4>Standards</h4>
                     </strong>
                  </a>
               </li>
               <li>
                  <a href="#releases_section" class="smoothScroll">
                     <strong>
                        <h4>Releases</h4>
                     </strong>
                  </a>
               </li>
               <p class="navbar-text pull-right" class="smoothScroll"><a href="#" class="navbar-link"><strong>Log out</a></p>
            </ul>
         </div>
      </nav>
      <!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
         <!-- Imagen central en id headerwrap -->
         <header class="clearfix">
            <!-- ==== titulo bienvenido ==== -->
            <div class="container" id="portafolio" name="portfolio">
               <div class="container">
                  <br><br><br><br><br>
                  <br>
                  <h1 class="text-center">PROJECT <small>{{project.name}} <label id="percentaje_project" name="percentaje_project">{{project.percentage}}%</label></small></h1>
               </div>
               <!-- /row -->
               <div class="row">
                  <div id="summary_section" align="left">
                     <br><br>
                     <h3  class="text-left text-muted">
                        <strong>
                           Summary
                           <hr>
                        </strong>
                     </h3>
                  </div>
                  <br>
                  <div align="left" style="padding-top:  1em;">
                     <form align="left" class="form-horizontal" role="form">
                        <div class="form-group">
                           <label for="ejemplo_email_3" class="col-sm-2 control-label">Project Owner</label>
                           <div class="col-sm-4 ">
                              <label  class="form-control" id="owner_project" name="owner_project"
                                 >{{project.owner}}</label>
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="ejemplo_email_3" class="col-sm-2 control-label">Start Date</label>
                           <div class="col-sm-4 ">
                              <label class="form-control" name="start_date_project" id="start_date_project">{{project.start_date}}</label>
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="ejemplo_email_3" class="col-sm-2 control-label">Completition Date</label>
                           <div class="col-sm-4 ">
                              <label class="form-control" name="completition_date_project" id="completition_date_project">{{project.end_date}}</label>
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="ejemplo_email_3" class="col-sm-2 control-label">Description</label>
                           <div class="col-sm-4 ">
                              <label class="form-control" name="description_project" id="description_project">
                                 {{project.description}}</tlabel>
                           </div>
                        </div>
                        <div class="form-group">
                        <label for="ejemplo_email_3" class="col-sm-2 control-label">Client or Market</label>
                        <div class="col-sm-4 ">
                        <label  class="form-control" name="client_project" id="client_project">{{project.client}}</label>
                        </div>
                        </div>
                        <div class="form-group">
                           <label for="ejemplo_email_3" class="col-sm-2 control-label">Architecture</label>
                           <div class="col-sm-4 ">
                              <label class="form-control" id="architecture_project" name="architecture_project"
                                 >{{project.arq}}</label>
                           </div>
                        </div>
                        <div class="form-group">
                           <label for="ejemplo_email_3" class="col-sm-2 control-label">Language</label>
                           <div class="col-sm-4 ">
                              <label class="form-control" id="language_project" name="language_project">{{project.language}}</label>
                           </div>
                        </div>
                        <label class="col-sm-2 control-label text-info"> Completed:</label>
                        <div class="checkbox col-sm-4 ">
                           <input type="checkbox" id="completed_project" name="completed_project" value="">
                        </div>
                     </form>
                  </div>
               </div>
               <!-- /row -->
            </div>
            <!-- /container -->     
         </header>
      </div>
      <!-- /headerwrap -->
      <div class="container">
         <div class="row">
            <div id="requirements_section" align="left">
               <br><br><br><br><br><br>
               <h3  class="text-left text-muted">
                  <strong>
                     No Functional Requirements
                     <hr>
                  </strong>
               </h3>
            </div>
            <div align="left" style="padding-top:  1em;">
               <br><br>
               <form align="left" class="form-horizontal" role="form" action="#" method="post">
                  <input type="hidden" name="action" value="add_requirement" />
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Requirement</label>
                     <div class="col-sm-4">
                        <textArea class="form-control" id="requirement_project" name="requirement_project"
                           placeholder="Enter the no functional new requirement description"></textArea>
                     </div>
                  </div>
                  <div class="col-sm-offset-3"  class="form-group">
                     <button  type="submit"  class="btn btn-default">
                     <span class="glyphicon glyphicon-plus"></span>  Add Requirement
                     </button>
                  </div>
               </form>
            </div>
            <!-- Tabla -->
            <div class="container" style="padding-top:  1em;">
               <div class="table-responsive">
                  <table id="table_requirement" name="table_requirement" class="table table-bordered table-striped table-hover">
                     <thead>
                        <tr>
                           <th>
                              <h5 class="text-left"><strong>Requirement</strong></h5>
                           </th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                     {% for req in project.no_func_req %}
                     <form action="#" method="post">
                     <input type="hidden" name="action" value="remove_requirement" />
                     <input type="hidden" name="index" value="{{loop.index}}" />
                     <tr>
                        <td>{{req}}</td>
                        <td><button type="submit" class="btn btn-default">Eliminar</button></td>
                     </tr>
                     {% endfor %}
                     </form>
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- /Tabla -->
         </div>
         <!-- /row -->
      </div>
      <!-- /container -->     
      <div class="container">
         <div class="row">
            <div id="roles_section" align="left">
               <br><br><br><br><br><br>
               <h3  class="text-left text-muted">
                  <strong>
                     Roles
                     <hr>
                  </strong>
               </h3>
            </div>
            <div align="left" style="padding-top:  1em;">
               <br>
               <form align="left" class="form-horizontal" role="form" action="#" method="post">
                  <input type="hidden" name="action" value="add_role" />
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Email</label>
                     <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="email_rol_project" name="email_rol_project"
                           placeholder="Enter the email of the person"></input>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Rol</label>
                     <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="name_rol_project" name="name_rol_project"
                           placeholder="Enter the rol of the person"></input>
                     </div>
                  </div>
                  <div class="col-sm-offset-3"  class="form-group">
                     <button  type="submit"  class="btn btn-default">
                     <span class="glyphicon glyphicon-plus"></span>  Add Rol
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <!-- Tabla -->
         <div class="container" style="padding-top:  1em;">
            <div class="table-responsive">
               <table id="table_roles" name="table_roles" class="table table-bordered table-striped table-hover">
                  <thead>
                     <tr>
                        <th>
                           <h5 class="text-left"><strong>User</strong></h5>
                        </th>
                        <th>
                           <h5 class="text-left"><strong>Rol</strong></h5>
                        </th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for role in project.roles %}
                     <form action="#" method="post">
                     <input type="hidden" name="action" value="remove_role" />
                     <input type="hidden" name="index" value="{{role.key()}}" />
                     <tr>
                        <td>{{role.email}}</td>
                        <td>{{role.role}}</td>
                        <td><button type="submit" class="btn btn-default">Eliminar</button></td>
                     </tr>
                     </form>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
         <!-- /Tabla -->
      </div>
      <div class="container">
         <div class="row">
            <div id="standards_section" lign="left">
               <br><br><br><br><br><br>
               <h3  class="text-left text-muted">
                  <strong>
                     Standards
                     <hr>
                  </strong>
               </h3>
            </div>
            <div align="left" style="padding-top:  1em;">
               <br>
               <form align="left" class="form-horizontal" role="form">
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Code Standard</label>
                     <div class="col-sm-4 ">
                        <input type="file" name="path_code_standard_project" id="path_code_standard_project"></input>
                     </div>
                  </div>
                  <div class="form-group" lign="left" >
                     <div class="alert alert-info col-sm-offset-2"><a  name="link_code_standard_project"  id="link_code_standard_project" href=""><u>Link de la ruta para acceder al documento</u></a></div>
                  </div>
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Configuration Standard</label>
                     <div class="col-sm-4">
                        <input type="file" name="path_config_standard_project" id="path_config_standard_project"></input>
                     </div>
                  </div>
                  <div class="form-group" lign="left" >
                     <div class="alert alert-info col-sm-offset-2"><a name="link_config_standard_project"  id="link_config_standard_project" href=""><u>Link de la ruta para acceder al documento</u></a></div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div id="releases_section" align="left">
               <br><br><br><br><br><br>
               <h3  class="text-left text-muted">
                  <strong>
                     Releases
                     <hr>
                  </strong>
               </h3>
            </div>
            <div align="left" style="padding-top:  1em;">
               <form align="left" class="form-horizontal" role="form" action="#" method="post">
               <input type="hidden" name="action" value="add_release" />
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Name</label>
                     <div class="col-sm-4">
                        <input type="text" class="form-control" id="name_release"  name="name_release"
                           placeholder="Enter the name of the release"></input>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Description</label>
                     <div class="col-sm-4">
                        <textArea type="text" rows="2" class="form-control" id="description_release" name="description_release"
                           placeholder="Enter the description of the release"></textArea>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Release Deadline</label>
                     <div class="input-append date col-md-4" id="deadline_release" name="deadline_release" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <input class="span2 form-control" id="input_deadline_release" name="input_deadline_release" size="16" readonly="" type="text">
                        <span class="add-on"><i class="icon-th"></i></span>
                     </div>
                     <script>
                        $(function(){
                           window.prettyPrint && prettyPrint();          
                           $('#deadline_release').datepicker();                                  
                        });
                     </script>
                  </div>
                  <div class="form-group">
                     <label for="ejemplo_email_3" class="col-sm-2 control-label">Percentage</label>
                     <div class=" col-sm-offset-2 col-sm-2 input-group">
                        <input type="number" class="form-control " name="percentage_release" id="percentage_release"></input>
                        <span class="input-group-addon">%</span> 
                     </div>
                  </div>
                  <div class="col-sm-offset-3"  class="form-group">
                     <button  type="submit"  class="btn btn-default">
                     <span class="glyphicon glyphicon-plus"></span>  Add Release
                     </button>
                  </div>
            </div>
            </form>
         </div>
         <!-- Tabla -->
         <div class="container" style="padding-top:  1em;">
            <div class="table-responsive">
               <table id="table_releases" name="table_releases"  class="table table-bordered table-striped table-hover">
                  <thead>
                     <tr>
                        <th>
                           <h5 class="text-left"><strong>Name</strong></h5>
                        </th>
                        <th>
                           <h5 class="text-left"><strong>Description</strong></h5>
                        </th>
                        <th>
                           <h5 class="text-left"><strong>Deadline</strong></h5>
                        </th>
                        <th>
                           <h5 class="text-left"><strong>Percentage %</strong></h5>
                        </th>
                        <th>
                           <h5 class="text-left"><strong>Complete</strong></h5>
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for release in project.releases %}
                     <tr>
                        <td><a href="/release?release={{release.key()}}"><u>{{release.name}}</a></td>
                        <td>{{release.description}}</td>
                        <td>{{release.release_date}}</td>
                        <td>{{release.project_percentage}}</td>
                        {% if release.complete %}
                        <td><input type="checkbox" checked disabled></td>
                        {% else %}
                        <form action="#" method="post">
                        <input type="hidden" name="action" value="complete_release" />
                        <input type="hidden" name="release" value="{{release.key()}}" />
                        <td><input type="checkbox" onChange="this.form.submit();"></td>
                        </form>
                        {% endif %}
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
         <!-- /Tabla -->
      </div>
      <!-- /row -->
      </div><!-- /container -->     
      <br> <br> <br>  <br> <br> <br>
      <nav class="navbar navbar-default " >
      <div id="footerwrap">
      <div align="center">
      <h4>Created by <a> KillerPollo - Toxa</a> - Copyright 2014</h4>
      </div>
      </div>
      </nav>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="assets/js/retina.js"></script>
      <script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
      <script type="text/javascript" src="assets/js/jquery-func.js"></script>
      <script src="assets/js/jquery.prettyPhoto.js"></script>
      <script src="assets/js/main.js"></script>
   </body>
</html>

